<footer>
  <div class="footflex">
    <div class="oneflex">
      <p class="footinfo1"><b>INDI-Fusion</b></p>
      <p class="footinfo">Subscribe</p>
      <p class="footinfo">Get 10% off on your first order</p>
      <p class="footinfo"> <label for="fname">Mail ID:</label>
        <input type="text" id="fname" name="fname"><br>
      </p>
    </div>
    <div class="twoflex">
      <p class="footinfo1"><b>Account</b></p>
      <p class="footinfo">My Account</p>
    </div>
  </div>
</footer>
