`<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styleindex.css">
</head>
<body>
  <%- include('partials/header') %>

  <main>
    <h1>Welcome to INDI-Fusion</h1>
  </main>

  <%- include('partials/footer') %>
</body>
</html>
